/* General Styles */
body {
    margin: 0;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(red, blue);
}

.container {
    background-color: #f5b6bc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto; /* center container */
    
}

/* Header Styles */
header h1 {
    font-weight: bold;
    font-size: 3em;
    color: #057808;
    text-align: center;

}

/* Image Styles */
.celebrity-image {
    display: block;
    width: 50%;
    height: auto;
    border-radius: 50px;
    border: 4px solid #333;
    margin: auto;
}

/* Text Styles */
p {
    font-size: 1em;
    color: #4b0cdd;
    line-height: 2;
}

/* Button Styles */
button.learn-more {
    background-color: #b605ec;
    border: none;
    padding: 20px;
}

/* Button Styles when hover over */
button.learn-more:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Footer Styles */
footer {
    font-size: 0.6em;
    text-align: center;
    color: rgb(59, 59, 59);
}
