/* Element Selectors */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#outer-box {
    border: 2px solid red;
    max-width: 700px;
}

h1 {
    color: #222222;
    text-align: center;
}

p {
    color: #073cfa;
    font-size: 18px;
    line-height: 1.6;
}

/* Class Selectors */
.highlight {
    background-color: aqua;
    color: red;
}

/* ID Selectors */
#main-header {
    background-color: #ef52da;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    padding: 30px 20px;
}

/* Combining Selectors */
p.highlight {
    font-weight: bold;
    color: red;
}

/* Combining Selectors */
h1#sub-header {
    font-style: italic;
    text-decoration: underline;
}

/* Element Styling */
.celebrity-image {
    display: block;
    width: 50%;
    border-radius: 10px;
    border: 5px solid #444444;
    margin: auto;
}

.celebrity-image:hover{
    width: 80%;
}

footer {
    text-align: center;
    color: #888888;
    margin-top: 20px;
}
