/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    color: #222222;
}

.celebrity-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 5px solid #555555;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #888888;
    margin-top: 20px;
}


/* YOUR CODE GOES BELOW */

.fixed-element {

    background-color: #8df80b;
    color: #9a0ab0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000080;
    position: fixed;
    right: 20px;
    bottom: 15px;
}

.relative-element {

    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #444444;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.badge {
    
    background-color: #ffdd00;
    padding: 10px 20px;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
}
